@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background: linear-gradient(
    180deg,
    #e42964,
    #df3867,
    #d4475c,
    #f0846e,
    #f0846e,
    #f0846e,
    #f7b393,
    #fdd1af,
    #ffdbba
  );
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  margin: 1% 20%;
  /* padding: 20px 0; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
}

.gender {
  justify-content: space-evenly;
  display: flex;
  margin: 0 20%;
}
h2 {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  padding: 20px;
}

#genderButton {
  padding: 6px 40px;
  border-radius: 30px;
  color: #f50057;
  background-color: white;
}
#genderButton:hover,
#submitButton:hover {
  opacity: 0.7;
}
#slider {
  color: #f50057;
  background-color: white;
  border-radius: 31px;
}
#sliderDiv {
  position: relative;
  margin: auto;
}
#submitButton {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #f50057;
  margin-left: 100%;
  background-color: white;
  align-self: center;
}
.heightandweight {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
