@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;

  background-image: linear-gradient(
    to top,
    #b7fdf9,
    #9feff8,
    #8ce1f8,
    #80d1f6,
    #7dc0f2,
    #89b6f2,
    #99aaed,
    #ab9ee4,
    #c695da,
    #dd8bc9,
    #ef83b3,
    #f97f99
  );
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  margin: 5% 20%;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  /* border: 2px solid black; */
}

h1 {
  font-size: 3em;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}
.gender {
  justify-content: space-evenly;
  display: flex;
  margin: 0 20%;
}
h2 {
  font-size: 2em;
  color: white;
  font-weight: bold;
  padding: 20px;
}
